@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d025ee');
  src:  url('../fonts/icomoon.eot?d025ee#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d025ee') format('truetype'),
    url('../fonts/icomoon.woff?d025ee') format('woff'),
    url('../fonts/icomoon.svg?d025ee#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-brands:before {
  content: "\e900";
}
.icon-github-brands:before {
  content: "\e901";
}
.icon-linkedin-in-brands:before {
  content: "\e902";
}
