* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.main {
  max-width: 1125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.main__timer {
  width: 200px;
  height: 70px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 70px;
  padding: 5px;
}

.main__timer .digi-style {
  line-height: 50px;
  font-size: 50px;
}

.main__buttons {
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}

.main__buttons button {
  width: 150px;
  height: 30px;
  border: 1px solid #db1010;
  border-radius: 5px;
  background-color: #e84542;
  color: #fff;
}

.main__puzzle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__puzzle-img {
  width: 125px;
  height: 125px;
}

.main__puzzle-img img {
  width: 100%;
}

.main__recive-puzzle {
  width: 125px;
  height: 125px;
}

.main__recive-puzzle img {
  width: 100%;
}

.c-style {
  width: 502px;
  height: 502px;
  border: #e8e8e8 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 0px 6px 6px #C1C1C1;
          box-shadow: 0px 0px 6px 6px #C1C1C1;
}

.pop-up {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(153, 145, 145, 0.8);
}

.msg-style {
  width: 500px;
  height: 170px;
  background-color: #fdfdfd;
  border-radius: 7px;
  padding-top: 30px;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.message-text {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #e8e8e8;
  margin-bottom: 15px;
}

.message-btn {
  text-align: center;
}

.message-btn button {
  width: 70px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
}

.message-btn button:first-child {
  margin-right: 10px;
}

.msgClose {
  background-color: #e84544;
}

.msgCheck {
  background-color: #1d9442;
}

.message-check {
  text-align: center;
}

.message-check button {
  width: 70px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
}
