@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ghp059');
  src:  url('../fonts/icomoon.eot?ghp059#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ghp059') format('truetype'),
    url('../fonts/icomoon.woff?ghp059') format('woff'),
    url('../fonts/icomoon.svg?ghp059#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-tumblr:before {
  content: "\e905";
}
.icon-dribbble:before {
  content: "\e906";
}
