@font-face{
    font-family: "DS-DIGIB";
    src: url("../fonts/DS-DIGIB.ttf")
}
@font-face{
    font-family: "Digital-7";
    src: url("../fonts/Digital-7.ttf")
}


@font-face{
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf")
}

@font-face{
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf")
}

@font-face{
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf")
}
