$twitColor-start: #7bdbf6;
$twitColor-end: #58cdf3;

$faceColor-start: #5188bc;
$faceColor-end: #3267a4;

$linkedColor-start: #00a7c9;
$linkedColor-end: #018eb9;

$instaColor-start: #7cbe21;
$instaColor-end: #41952b;

$ytubeColor-start: #db1929;
$ytubeColor-end: #c81421;

$tumblrColor-start: #293e55;
$tumblrColor-end: #2d4d69;

$dribColor-start: #dd3c6f;
$dribColor-end: #e872a3;